body {
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.valign-wrapper{
    background-color: rgb(44, 44, 113);
    padding-top: auto;
    padding-bottom: auto;
}
.section-1{
    margin: 70px;
}
.section-2 {
    margin: auto;
    background-color: rgba(173, 197, 209, 0.504);
    padding: 70px;
}
.section-3{
    margin: 70px;
    background-color: rgba(85, 143, 215, 0.764);
    padding: 70px;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slide {
    display: none;
}
.previous, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.row > * {
    margin: 10px;
}
button {
    border-color: transparent;
    padding: 10px;
    border-radius: 10px;
}